.te-testimonial-card-two {
    padding: 40px;
    background-color: $white;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);


    .te-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .content {
            font-size: 18px;
            font-weight: 400;
            line-height: 36px;
            color: $gray-800;
            margin-bottom: 0;
            p {
                margin-bottom: 0;
            }
        }
        .te-user-meta {
            display: flex;
            justify-content: space-between;

            .te-user-info {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .icon {
                    color: $blue-color;
                    font-size: 40px;
                }
                .name {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    color: $black;
                    margin-bottom: 0;
                }
                .designation {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0.5px;
                    color: $blue-color;
                }
            }
            .image {
                width: 74px;
                height: 74px;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
            }
        }
    }
}