.te-portfolio-filter {
  padding: 0;
  display: flex;
  gap: 20px 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  
  li {
    list-style: none;
    font-size: 17px;
    font-weight: 600;
    line-height: initial;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    color: $gray-800;
    border: 1px solid $gray-200;
    padding: 10px 22px;
    @include transition;

    &.active {
      background-color: $blue-color;
      border-color: $blue-color;
      color: $white;
      @include transition;
    }
    &:hover {
      background-color: $blue-color;
      border-color: $blue-color;
      color: $white;
      @include transition;
    }


  }
}

.te-portfolio-card {
  background-color: $white;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 20px;

  &:hover {
    .image {
      .te-content-wrapper {
        visibility: visible;
        opacity: 1;
        @include transition;
        transform: scale(1);
        
        .content {
            .content-inner {
              margin-bottom: 0;
              @include transition;
            }
          .btn-wrapper {
            @include transition;
          }
          .content-inner {
            @include transition;
            transform: scaleY(1);
          }
        }
      }
      img {
        transform: scale(1.1);
        @include transition;
      }
    }
  }
  .image {
    overflow: hidden;
    position: relative;

    img {
       transform: scale(1);
      @include transition;
      width: 100%;
    }
  }
  .te-content-wrapper {
    padding: 12px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    @include transition;
    // transform: scale(1.5);

    .content {
      display: flex;
      flex-direction: row;
      height: 100%;
      gap: 10px;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;
      padding: 10px;

      .content-inner {
        width: 100%;
        background-color: $white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 18px 10px;
        // margin-bottom: -100%;
        @include transition;
        transform: scaleY(0.3);
      }
      .sub-title {
        color: $gray-900;
        font-size: 18px;
        line-height: 36px;
        font-weight: 400;
      }
      .title {
        margin-bottom: 0;
        color: $gray-900;
        font-size: 24px;
        line-height: 39px;
        font-weight: 500;
      }

      .btn-wrapper {
        position: absolute;
        top: 0;
        flex-shrink: 0;
        padding: 0;
        @include transition;
        a {
          display: inline-flex;
          width: 73px;
          height: 73px;
          background-color: $orange-color;
          border-radius: 50px;
          color: $black;
          align-items: center;
          justify-content: center;
          @include transition;
          font-size: 24px;

          &:hover {
            @include transition;
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }
  }
}
