.te-process-step {
    background-color: $gray-900;
    padding: 50px 40px 65px 40px;
    position: relative;
    margin-bottom: 24px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    top: 0;
    @include transition;

    &::before {
        position: absolute;
        content: "";
        width: 0;
        left: 50%;
        transform: translateX(-50%) scale(0);
        height: 0%;
        background-color: $blue-color;
        bottom: 0;
        border-radius: 50px;
        @include transition;
    }
    @include xl {
        padding: 45px 35px 60px 35px;
    }
    &:hover {
        top: -5px;

        &::before {
            width: 100%;
            height: 100%;
            border-radius: 0;
            transform: translateX(-50%) scale(1);
        }
        .icon {
            img {
                transform: rotateY(360deg);
                @include transition;
            }
        }
        .counter-number {
            @include transition;
        }
      //.te-counter-wrapper {
      //  .shape {
      //      &::before {
      //          transform: scale(0);
      //          @include transition;
      //      }
      //  }
      //}
      .content {
        .te-read-more {
            .te-theme-btn {
                background-color: $primary-color;
                border-color: $primary-color;
                color: $white;
            }
        }
      }
    }
    .icon {
        display: flex;
        flex-shrink: 0;
        justify-content: start;
        img {
            @include transition;
        }
    }
    .te-content-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .te-counter-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 48px;

        .shape {
            position: relative;

            //&:before {
            //    position: absolute;
            //    width: 100%;
            //    height: 100%;
            //    top: 0;
            //    left: 0;
            //    content: "";
            //    background-color: $gray-900;
            //    opacity: 0.6;
            //    transform: scale(1);
            //    @include transition;
            //}
        }
    }
    .counter-number {
        font-size: 57px;
        font-weight: 500;
        line-height: 77.72px;
        letter-spacing: -1px;
        text-transform: capitalize;
        color: $white;
        @include transition;
    }
    .te-title-wrapper {
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
        border-bottom: none;
        transition: all 0.6s ease;
        align-items: center;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            position: relative;
        }
        .title {
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            margin: 0;
            color: $white;
            transition: all 0.6s ease;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .desc {
            transition: all 0.6s ease;
            font-size: 18px;
            line-height: 36px;
            font-weight: 400;
            margin: 0;
            color: $white;
        }
        .te-read-more {
            margin-top: -10px;

            .te-theme-btn {
                border: 1px solid $gray-200;
                color: $primary-color;
                background-color: transparent;
            }
        }
    }

}
