.te-post-card {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 23px;
  margin-bottom: 24px;

  &.style-1 {
    background-color: $white;
    padding: 10px;
    border-radius: 20px;

    .image {
      height: 290px;
    }
    .content {
      padding: 0 20px 20px 20px;
    }
  }

  &:hover {
    .image {
      img {
        transform: scale(1.05);
        @include transition;
      }
    }
  }
  .image {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 323px;
    position: relative;

    img {
      @include transition;
      transform: scale(1);
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    .te-post-date {
      position: absolute;
      right: 25px;
      top: 23px;
      background-color: $blue-color;
      border-radius: 20px;
      padding: 13px 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      span {
        color: $white;
        font-size: 20px;
        font-weight: 500;
        line-height:20px;
        letter-spacing: 0.5px;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 3;

    .te-post-meta-info {
      display: inline-flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 12px;

      .te-single-meta {
        display: flex;
        align-items: center;
        gap: 8px;

        span,
        a {
          color: $gray-800;
          font-size: 14px;
          line-height: 28px;
          font-weight: 400;
          margin: 0;
          text-transform: capitalize;
        }
        i {
          color: $blue-color;
        }
      }
    }
    .title {
      font-size: 24px;
      font-weight: 500;
      line-height: 39.84px;
      letter-spacing: 0.5px;
      font-family: $heading-font;
      margin-bottom: 7px;
      color: $secondary-color;
      @include transition;
    }
    a.read-btn {
      font-size: 17px;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: 0.6px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: 10px;
      color: $black;

      &:hover {
        color: $blue-color;
      }
    }
  }
}
