// About Us Area
.about-us-area {
  &.style-2 {
      padding-top: 120px;
      padding-bottom: 330px;
      background-color: $gray-100;

      @include sm {
          padding: 80px 0;
      }
      
      @include md {
          padding: 100px 0;
      }
      .te-about-image-card {
          @include rmaxwd(991) {
              text-align: center;
              margin-bottom: 50px;
          }

          .te-main-img-wrapper .te-main-img-inner {
              @include rmaxwd(991) {
                  width: 100%;
              }
          }
          .te-company-foundation {
              @include rmaxwd(1199) {
                left: 0;
              }    
          }
      }
      .te-about-info-card {
          @include rmaxwd(1199) {
          padding-left: 0;
          }
          @include lg {
              padding-left: 60px;
          }

          @include xl {
              padding-left: 80px;
          }
      }
  }
}

// Feature Service
.feature-area {
  &.style-2 {
    padding-top: 120px;
    padding-bottom: 96px;

    @include sm {
      padding-top: 80px;
      padding-bottom: 56px;
    }
    @include md {
      padding-top: 100px;
      padding-bottom: 76px;
    }
  }
}

// CTA And Portfolio Area
.cta-and-portfolio-area {
  background: linear-gradient(180deg, #EAF4FE 0%, #C9E4FF 100%);
  padding-bottom: 610px;
  @include lg {
    padding-bottom: 100px;
  }
  @include rmaxwd(991) {
    padding-bottom: 80px;
  }
}
// Portfolio Area
.portfolio-area {
  &.style-2 {
      padding-top: 120px;
      margin-top: -600px;

    @include rmaxwd(991) {
      margin-top: 0;
    }
    @include lg {
      margin-top: 0;
      padding-top: 100px;
    }
      @include sm {
        padding-top: 80px;
      }
      @include md {
        padding-top: 100px;
      }
  }
}

// Team Slider Area
.team-slider-area {
  &.style-2 {
      overflow: hidden;
      padding: 120px 0;
  
      @include sm {
        padding: 80px 0;
      }
      @include md {
        padding: 100px 0;
      }

      .slick-list {
        padding-bottom: 0;
      }
  }
}

// FAQ Area
.faq-area {
  &.style-1 {
    padding-bottom: 180px;
    
    @include sm {
      padding-bottom: 80px;
    }
    @include md {
      padding-bottom: 100px;
    }
    @include lg {
      padding-bottom: 120px;
    }
    @include xl {
      padding-bottom: 120px;
    }
    .accordion-wrapper {
      @include xl {
        padding-right: 60px;
      }

    }
    .te-faq-image {
      margin-top: 82px;
      position: relative;
      right: -83px;
      display: inline-block;

      
      @include rmaxwd(1199) {
        right: unset;
        margin-bottom: 150px;
        transform: translateX(-50%);
        left: 50%;
      }
      @include xl {
        right: 0;
      }
      .te-image-wrapper { 
        position: relative;
        
        .te-main-img-inner {
          clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        }
        .te-image-shape {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: -1;
        }
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;

          .title {
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            color: $white;
            margin-bottom: 0;
          }
          .number {
            font-size: 32px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0.5px;
            color: $white;
            margin-bottom: 0;
          }
        }
        .top-content {
          width: 152px;
          height: 152px;
          background-color: $blue-color;
          border-radius: 100%;
          border: 16px solid $white;
          position: absolute;
          left: -70px;
          top: -95px;

          @include sm {
            left: 50%;
            transform: translateX(-50%);
          }
          
        }
                
        .bottom-content {
          border: 20px solid $white;
          background-color: $white;
          border-radius: 50%;
          width: 187px;
          height: 187px;
          position: absolute;
          right: -30px;
          bottom: -110px;
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);

          @include sm {
            right: 50%;
            transform: translateX(50%);
          }
          .bottom-content-inner {
            width: 100%;
            height: 100%;
            background-color: $orange-color;
            border-radius: 100%;
            border: 8px solid $white;
            outline: 2px dashed $black;

            .title,
            .number {
              color: $black;
            }
          }
        }
      }
    }
  }
}

.testimonial-bg-area {
  height: 490px;
  background-color: $gray-100;
  margin-top: -280px;
  margin-bottom: -120px;
}

// Testimonial Slider Area
.testimonial-slider-area {
  overflow: hidden;
  padding-bottom: 10px;

  &.style-2 {
    .slick-list {
      margin: 0 -100px;
      overflow: visible;


      .te-slick-item {
        width: 520px;
        margin: 0 15px;
      }
    }
  }
}

// Counter Up Area
.counter-up-area {
  &.style-2 {
    .te-counter-card  {
      padding: 80px 55px;
      background-color: $gray-900;
      border-radius: 20px;

        .te-counter-item {
          .icon {
            width: unset;
            height: unset;
            background-color: transparent;
          }
          .te-counter-title {
            flex-direction: row;
            gap: 30px;

            .content {
              gap: 18px;
              text-align: left;
            }
          }
          .title {
            color: $white;
          }
          .number {
            color: $orange-color;
          }
          .number,
          .title {
            justify-content: flex-start;
          }
        }
    }
  }
}

// Latest Posts Area
.latest-posts-area {
  &.style-2 {
      padding-top: 120px;
      padding-bottom: 80px;

      @include sm {
          padding-top: 80px;
          padding-bottom: 40px;
      }
      @include md {
          padding-top: 100px;
          padding-bottom: 60px;
      }
  }
}
// Subscribe Area
.subscribe-area {
  &.style-2 {
    position: relative;
    z-index: 9;
    margin-bottom: -140px;


    .te-subscribe-inner-area {
      background-color: $primary-color;
      padding: 10px;
      border-radius: 20px;
      gap: 0;

      .te-image-bg-collumn {
        width: 255px;
        flex-shrink: 0;
        flex-basis: unset;
        flex-grow: unset;
      }
      .te-subscribe-form-wrapper {
        padding: 0;
      }
      .te-content-wrapper {
        gap: 60px;
        width: unset;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        float: right;
        position: relative;
        z-index: 2;
        left: -50px;

        @include rmaxwd(991) {
          left: unset;
        }
        @include sm {
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        float: unset;
        }
        @include md {
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        float: unset;
        }
        @include lg {
          gap: 60px;
        }

        .te-subscribe-title {
          font-size: 38px;
          font-weight: 500;
          line-height: 46px;
          letter-spacing: -0.676px;
          text-transform: capitalize;
          margin-bottom: 0;
        }

        .te-content-inner {
          display: flex;
          align-items: center;
          gap: 20px;
          @include sm {
            flex-wrap: wrap;
          }
          .icon {
            width: 90px;
            height: 90px;
            background-color: $orange-color;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            padding: 15px;
          }
        }
      }
      .te-subscribe-form-widget {
        background: #fff;
        padding: 7px;
        border-radius: 50px;
      }
      .mc4wp-form-fields {
        gap: 0;
        flex-wrap: wrap;

        @include lg {
          flex-direction: column;
        }
      }
    }
  }
}