.team-page {
    padding-top: 120px;
    padding-bottom: 96px;

    .te-team-card {
        margin-bottom: 24px;
        box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.05);
        background-color: $white;
    }
}

// Team Details Page
.team-details-page {
    padding-top: 120px;
    padding-bottom: 96px;

    @include sm {
        padding-top: 80px;
        padding-bottom: 56px;
    }

    @include md {
        padding-top: 100px;
        padding-bottom: 76px;
    }
}
.team-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include rmaxwd(991) {
        gap: 30px;
    }

}
.team-details {
    display: flex;
    gap: 60px;
    align-items: center;

    @include rmaxwd(991) {
        flex-direction: column;
        gap: 30px;
    } 

    .content {
        display: flex;
        gap: 35px;
        flex-direction: column;

        @include sm {
            gap: 30px;
        }
        @include lg {
            gap: 20px;
        }
    }
    .image {
        width: 520px;
        flex-shrink: 0;
        border-radius: 20px;
        overflow: hidden;

        @include rmaxwd(991) {
            width: 100%;
            img {
                width: 100%;
            }
        }
        @include lg {
            width: 330px;
        }
    }
    .user-meta {
        .title {
            font-size: 57px;
            letter-spacing: -1px;
            margin-bottom: 20px;

            @include rmaxwd(991) {
                font-size: 34px;
                margin-bottom: 10px;
            }
            @include lg {
                font-size: 36px;
            }
        }
        .desc {
            margin-bottom: 0;
            line-height: 20px;
        }
    }
    .social {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        transition: all 0.5s ease-out;
  
        a {
          width: 40px;
          height: 40px;
          border-radius: 50px;
          background-color: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: $primary-color;
          flex-shrink: 0;
          border: 1px solid $primary-color;
          
          &:hover {
            background-color: $primary-color;
            color: $white;
            @include transition;
          }
        }
      }
}
// Team Details Overview
.team-details-overview-wrapper {
    .sec-title {
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0.5px;
        color: $gray-900;

        @include rmaxwd(991) {
            font-size: 28px;
            line-height: 32px;
        }
    }
}
.team-details-overview {
    display: flex;
    flex-direction: column;
    gap: 50px;
}