.te-team-member-slider-wrapper {
  position: relative;
  padding: 0;
  overflow: hidden;

  @include sm {
    padding: 0 12px;
  }
  
  .slick-list {
    margin: 0 -15px;

    @include sm {
      padding-bottom: 25px;
      margin: unset;
    }
    .slick-slide {
      margin: 0 15px;
    }
  }
  // Slick Dots
  .slick-dots {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;

    li {
      display: inline-block;
      line-height: 0;
      outline: 2px solid transparent;
      border: 5px solid transparent;
      border-radius: 50px;
      @include transition;

      button {
        font-size: 0;
        padding: 0;
        width: 12px;
        height: 12px;
        background-color: $blue-color;
        border-radius: 50px;
        position: relative;
        @include transition;
      }
      &.slick-active {
        @include transition;
        outline: 2px solid $blue-color;

        button {
          @include transition;
        }
      }
    }
  }
  .slick-arrow {
    display: none !important;
  }
}